<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>demo2</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="/css/card.css" rel="stylesheet">
</head>

<body>
    <%- include("partials/navBar"); -%>
    <% let text="" ; %>
        <div class="containerG">
            <div class="containerG">
                <h1>Medical Intelligence</h1>
                <p>Herramienta de inteligencia artificial para la extracción de datos a partir de reportes de
                    efectos
                    adversos
                </p>
                <form action="/upload" method="post">
                    <p>Análisis del documento <strong>
                            <%= pdfTitle %>
                        </strong> <button style="color: red;" type="submit" class="close" aria-label="Close">
                            <span aria-hidden="true"> &times;</span>
                        </button></p>
                </form>
                <label for="askModel">Respuesta del modelo GPT:</label>

                <div class="containerTable">
                    <div class="horizontal-table">
                        <% let First=true; %>
                        <% for(jso in paciente) { %>
                            <% if (First) { %>
                                <div id="head" class="horizontal-row">
                                    <% for (const info in paciente[jso]) { %> 
                                        <div class="horizontal-cell">
                                            <%= info %>
                                        </div>
                                    <% } %>
                                </div>
                                <% First=false; %>
                            <% } %>
                        <% } %>  
                        <% for(jso in paciente) { %>
                            <div class="horizontal-row">
                                <% for (const info in paciente[jso]) { %> 
                                    <div class="horizontal-cell">
                                        <%= paciente[jso][info] %>
                                    </div>
                                <% } %>
                            </div>
                        <% } %> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <%- include("partials/footer"); -%>

                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
                    crossorigin="anonymous"></script>
</body>

</html>