<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>table</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        .horizontal-table {
            display: table;
            width: 100%;
            border-collapse: collapse;
        }

        .horizontal-row {
            display: table-row;
        }

        .horizontal-cell {
            display: table-cell;
            border: 1px solid #ccc;
            padding: 8px;
        }
        #head{
            font-weight: bold;
        }
    </style>
</head>

<body>
    <h1>info del paciente</h1>
    <div class="horizontal-table">
        <% let isFirst = true; %>
        <% for (jso in paciente) { %>
            <% if (isFirst) { %>
            <div id="head" class="horizontal-row">
                <% for (const key in paciente[jso]) { %>
                    <% for (const info in paciente[jso][key]) { %>
                        <div class="horizontal-cell"><%= info %></div>
                    <% } %>
                <% } %>  
            </div>
            <% isFirst = false; %>
            <% } %>
          
            <div class="horizontal-row">
                <% for (const key in paciente[jso]) { %>
                    <% for (const info in paciente[jso][key]) { %>
                        <div class="horizontal-cell"><%= paciente[jso][key][info] %></div>
                    <% } %>
                <% } %>
            </div>
        <% } %>   
    </div>




    <!-- <div class="horizontal-table">
        <div class="horizontal-row">
          <div class="horizontal-cell">Registro 1</div>
          <div class="horizontal-cell">Registro 2</div>
          <div class="horizontal-cell">Registro 3</div>
        </div>
        <div class="horizontal-row">
          <div class="horizontal-cell">Atributo 1</div>
          <div class="horizontal-cell">Atributo 2</div>
          <div class="horizontal-cell">Atributo 3</div>
        </div>
        <div class="horizontal-row">
          <div class="horizontal-cell">Valor 1gggggggggg</div>
          <div class="horizontal-cell">Valor 2</div>
          <div class="horizontal-cell">Valor 3</div>
        </div>
      </div> -->
    <!-- <table>
        <tr>
            <th>Campo</th>
            <th>Valor</th>
        </tr>
        <% for (const key in paciente) { %>
            <tr>
                <th><%= key %></th>
                <th></th>
            </tr>
            <% for (const info in paciente[key]) { %>
                <tr>
                    <td><%= info %></td>
                    <td><%= paciente[key][info]%></td>
                </tr>
            <% } %>
        <% } %>
    </table> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>